.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .resto{
        display:  flex;
        flex-direction: row;
        justify-content: space-between;
          }
    
    .logo{
     display: flex;
     
    
         }
      
  .resto a  {
    text-decoration: none;
    color: black;
  }
  .resto .get {
    align-items: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    background-color: blue ;
    height: 23px;
  
    width: 93px;
    border-radius: 5px;
  
  }
  
  .titulo_dois{
    text-align: center;
    color: rgb(51, 51, 51);
  
  }
  
  .botao{
    
    text-align: center;
    color: white;
    background-color: blue ;
    border-radius: 5px;
    width: 200px;
    height: 70px;
    margin: auto;
  }
  
  .texto1 {
    text-align: center;
    color: rgb(51, 51, 51);
    size: 10%;
    height: 90px;
  
  }
      
  .blocos {
    display: flex;
    justify-content: space-between;
    color: rgb(51, 51, 51);
    border-radius: 5px;
    
  }
  
  .blocos .bloco1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 239, 245);
    border-radius: 5px;
    margin:auto;
    width: 410px;
    
    
  
  }
  
  .blocos .bloco3 {
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 239, 245);
    border-radius: 5px;
    margin:auto;
    width: 410px;
  }
  
  .blocos .bloco2 {
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 239, 245);
    border-radius: 5px;
    margin:auto;
    width: 410px;
  }